<div class="full-bkrnd">
  <div class="col-10 offset-1 event">
    <br />
    <h1>Let loose the dogs of War!</h1>
    <hr />
    <h2>News</h2>
    <p>
      We now have 2 alliances "New Age War" (main) and "New Age War2" (alt).  We are currently letting our main alliance drop to gold league.
    </p>
    <p>
      Weekly minimums are 300,000 vp or 30 Battles.  Dont forget to do your daily Quests, Titan Arena, and Titan Monument!
    </p>
    <hr />
    <div class="overview">
      <div class="row seasons">
        <div class="col-12 col-sm-6">
          <br />
          <h2>This Season</h2>
          <p>
            <span>Alliance:</span>  New Age War2 (alt)<br />
            <span>League:</span>  Champion<br/ >
            <span>Goal:</span>  Growth
          </p>
        </div>
        <div class="col-12 col-sm-6">
          <br />
          <h2>Next Season</h2>
          <p>
            <span>Alliance:</span>  New Age War2 (alt)<br />
            <span>League:</span>  Champion<br />
            <span>Goal:</span>  Growth
          </p>
        </div>
      </div>
      <br/>
      <hr />

      <h2>Events</h2>
      <p>
        We plan to start doing events as an alliance.  If we all save our event tokens and all cash them in the same week we can get good rewards for the whole alliance.  Start saving your event tokens!
      </p>
      <br />
      <hr />
      <br />
      <h2>Guide: Switching Alliances</h2>
      <br />
      <h3>Method 1:  Accepting an Invite</h3>
      <p>
        When we switch alliances invites will be sent out to all our members.  Invites show up in your "Personal Messages".
      </p>
      <div class="row">
        <div class="col-12 col-sm-6">
          <%= image_tag("img1.png", class: 'img-fluid') %>
          <p>
            Tap Messages 
          </p>
          <br />
        </div>
        <div class="col-12 col-sm-6">
          <%= image_tag("img2.png", class: 'img-fluid') %>
          <p>
            Tap Private Messages
          </p>
          <br />
        </div>
         <div class="col-12 col-sm-6">
          <%= image_tag("img3.png", class: 'img-fluid') %>
          <p>
            Tap the invite message, a pop-up menue will appear.  Tap Join and accept.
          </p>
          <br />
        </div>
        <div class="col-12 col-sm-6">
        </div>
      </div>
      <h3>Method 2:  Search</h3>
      <p>
        Guide under construction
      </p>
    </div>
  </div>
</div>