<div class="col-10 offset-1 event">
  <br />
  <h1>Dawn of Titans Event Calculator</h1>
  <hr />
  <div class="overview">
    <h2>Overview</h2>
    <p>
      This is an event calculator for Dawn of Titans designed to help a user plan for an event.  It will allow a user to calculate the gems needed to complete the event as well as set a custome goal if the user only wants to get to a specific reward.  As of now the actual % chances to get each relic are unknown to me so the calculator will tell you the number of relics needed if you get all 1 &#9733 relics, or all 2 &#9733, and so on.  The actual result will be somewhere in between the best case scinareo with all 4 &#9733 relics and the worst case with all 1 &#9733 relics. It will also output the number of battles required to reach your goal with or without the use of event relics and includes a section that makes calculations to plan for the ammount of gems to buy.
    </p>
    <p>
      In this basic form the calculator will require the user to enter statistics each time they go to the sight.  There are plans to impliment a system where by users will be able to register wiht the sight and have a personal event calculator that will store user details and load them when the user logs in.  For now general event statistics such as charges and % boost for each relic will need to be added manually.  Once user regesteration is added users will be able to post event statistics or confirm event statistc that someone has posted, the statistics with the most confirmations will be auto loaded, this will allow the site to be entirely user driven.
    </p>
    <p>
      I would greatly appreciate any suggestions or questions you may have about all aspects of this calculator; calculations, additional information to calculate, user interface and especially any info about event relic drop chances so I can include a more acurate overall calculation.
    </p>
  </div>
</div>

<scrypt>
  

</scrypt>
