@import "bootstrap";

body {
  font-weight: 500;
  font-family: 'Cormorant Infant';
  font-size: 100%;
  text-align: center; 
  color: black;
  background: image_url('dot.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Khand', sans-serif;
}

p {
 opacity: 1; 
}

.navbar{
  overflow: hidden;
  color: #000;
  font-family: "Cormorant Infant";
  background: url(hdr_bkr.jpg) repeat-x top;
  background-size: auto 100%;
  color: #fff;  
}

.center-me{
  margin: auto;
}

h1 {
  height: 90%;
}

h1, h2{
  text-shadow: 2px 2px 4px grey;
  opacity: 1;

}

h2 span {
  font-size: .9rem;
}

p {
 opacity: 1; 
}

a {
  font-size: 1.2rem;
}

p span {
  font-size: 2rem;
  line-height: 70%;
  font-family: "Cormorant Infant";
  text-shadow: 2px 2px 4px #333333;
}

h3 {
  font-size: 17px;
  border-radius: 25px;
  background-color:  black;
  color: white;
  opacity: .8;
}

h3 span {
  opacity: 1;
}

h4 {
  font-size: 1.1rem;
  text-decoration: underline;
  font-weight: bold;
}


hr {
  color: black;
  height: 1px;
  background-color: black;
}

#dot-rule {
   background: image_url('dot-rule.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 28px;
  margin: 0;
  paddong: 0;
  
}


.season-head span{
   font-size: 1.2rem;
   font-style: bold; 
}

.footer {
  background-color: black;
  position:absolute;
  bottom:0px;
}

.shadow-box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.black-box {
  border-radius: 25px;
  background-color:  black;
  color: white;
  opacity: .8;
  margin: 10px;
  padding: 10px;
  max-width: 95%;

}

#switchGuide {
  display: none;
}

#damage {
 display: none; 
}

#calculator {
 display: none; 
}

#troop {
 display: none; 
}

#troop span {
  
}

.toggelBtn {
  border-radius:  8px;
  border: 1px solid #FFF3D7;
  color: white;
  background-color: black;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size:  0.8rem;
}