@import "bootstrap";

body {
  font-weight: 500;
  font-family: 'Cormorant Infant';
  font-size: 100%;
  text-align: center; 
  color: black;
}

.full-bkrnd {
  background: image_url('dot.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.event{
  font-family: 'Khand', sans-serif;
}

.overview{
  font-size: 20px;
}

.overview p{
  font-size: 15px;
}

.navbar{
  overflow: hidden;
  color: #000;
  font-family: "Cormorant Infant";
  background: url(hdr_bkr.jpg) repeat-x top;
  background-size: auto 100%;
  color: #fff;  
}

.center-me{
  margin: auto;
}

h1 {
  height: 90%;
}

h3 {
  font-size: 17px;
}

ul {
  list-style: none;
}

hr {
  color: black;
  height: 1px;
  background-color: black;
}

.seasons p{  
}

.seasons span {
  font-weight: bold;
}

